<ons-page id="tabbar-page">

  <ons-tabbar swipeable id="appTabbar" position="auto">
    <ons-tab label="Home" icon="ion-ios-home" page="home.html" active></ons-tab>
    <ons-tab label="Settings" icon="ion-ios-settings" page="settings.html"></ons-tab>

    <ons-tab label="Animations" icon="film" page="animations.html"></ons-tab>
  </ons-tabbar>

  <script>
    ons.getScriptPage().addEventListener('prechange', function(event) {
      if (event.target.matches('#appTabbar')) {
        event.currentTarget.querySelector('ons-toolbar .center').innerHTML = event.tabItem.getAttribute('label');
      }
    });
  </script>
</ons-page>
