/* Reset, source: https://www.joshwcomeau.com/css/custom-css-reset/ */

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* Actual styling */

html,body {
  font-family: 'Roboto', sans-serif;
}

.card__title,
.card--material__title {
  font-size: 1.2rem !important;
  font-weight: 700 !important;
}

[onclick] {
  color: #333;
}

.back-button,
.tabbar__button,
ons-button,
ons-switch,
[onclick] {
  cursor: pointer !important;
}

.toolbar .back-button__label {
  line-height: calc(var(--toolbar-height) * 1.2);
}
.toolbar__right ons-button.button--quiet {
  color: inherit;
}

.list-item__center ons-input {
  width: 100%;
}
